
* {
  font-style: Helvetica;
  margin: 0;
  padding: 0;
}


body {
  background-color: #595959;
}

nav {
  width: 100%;
  height: 100px;
  background-color: #fff;
  }

ul {

  }

ul li {
list-style: none;
display: inline-block;
float: left;
line-height: 100px;

}

ul li a {
  display: block;
  text-decoration: none;
  font-size: 14px;
  font-family: Helvetica;
  color: #1e1e1e;
  padding: 0 20px;
}

ul li a:hover{
  color: blue;
}

.container {
  width: 100%;
  height: 500px;
  background-color: purple;

  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-start;
  align-content: space-between;
}

.item {
  flex-grow: 1;
}


.family {
  background-color: #404040;
  width: 450px;
  margin: 40px;
  border: 2px #666666;
  border-style: solid;
  padding: 20px;

}

.study {
  background-color: #404040;
  width: 450px;
  margin: 40px;
  border: 2px #666666;
  border-style: solid;
  padding: 20px;
}

.media-scroller {
  display: grid;
  gap: var(--size-3);
  grid-auto-flow: column;
  grid-auto-columns: 30%;

  overflow-x: auto;





}
